body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-291px;
  width:407px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8630_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:33px;
}
#u8630 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:68px;
  width:100px;
  height:32px;
}
#u8630_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u8631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:52px;
}
#u8631 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:295px;
  width:100px;
  height:51px;
}
#u8631_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u8632_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:52px;
}
#u8632 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:129px;
  width:100px;
  height:51px;
}
#u8632_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u8633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:52px;
}
#u8633 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:213px;
  width:100px;
  height:51px;
}
#u8633_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u8634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:52px;
}
#u8634 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:492px;
  width:100px;
  height:51px;
}
#u8634_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u8635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:52px;
}
#u8635 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:575px;
  width:100px;
  height:51px;
}
#u8635_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u8636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:52px;
}
#u8636 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:575px;
  width:100px;
  height:51px;
}
#u8636_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u8637 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:100px;
  width:0px;
  height:0px;
  font-size:13px;
  color:#333333;
}
#u8637_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:33px;
}
#u8637_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:14px;
  width:20px;
  height:20px;
}
#u8637_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8638 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:180px;
  width:0px;
  height:0px;
  font-size:13px;
  color:#333333;
}
#u8638_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:37px;
}
#u8638_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:18px;
  width:20px;
  height:20px;
}
#u8638_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8639 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:264px;
  width:0px;
  height:0px;
  font-size:13px;
  color:#333333;
}
#u8639_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:35px;
}
#u8639_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:16px;
  width:20px;
  height:20px;
}
#u8639_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8640 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:346px;
  width:0px;
  height:0px;
  font-size:13px;
  color:#333333;
}
#u8640_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:37px;
}
#u8640_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:18px;
  width:20px;
  height:20px;
}
#u8640_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8641 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:439px;
  width:0px;
  height:0px;
  font-size:13px;
  color:#333333;
}
#u8641_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:57px;
}
#u8641_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:38px;
  width:20px;
  height:20px;
}
#u8641_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  word-wrap:break-word;
}
#u8642 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:543px;
  width:0px;
  height:0px;
  font-size:13px;
  color:#333333;
}
#u8642_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:21px;
}
#u8642_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:13px;
  width:106px;
  height:8px;
}
#u8642_seg2 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:13px;
  width:8px;
  height:19px;
}
#u8642_seg3 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:17px;
  width:20px;
  height:20px;
}
#u8642_text {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8643 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:543px;
  width:0px;
  height:0px;
  font-size:13px;
  color:#333333;
}
#u8643_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:21px;
}
#u8643_seg1 {
  border-width:0px;
  position:absolute;
  left:-105px;
  top:13px;
  width:109px;
  height:8px;
}
#u8643_seg2 {
  border-width:0px;
  position:absolute;
  left:-105px;
  top:13px;
  width:8px;
  height:19px;
}
#u8643_seg3 {
  border-width:0px;
  position:absolute;
  left:-111px;
  top:17px;
  width:20px;
  height:20px;
}
#u8643_text {
  border-width:0px;
  position:absolute;
  left:-100px;
  top:9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:33px;
}
#u8644 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:920px;
  width:100px;
  height:32px;
}
#u8644_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u8645 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:893px;
  width:0px;
  height:0px;
  font-size:13px;
  color:#333333;
}
#u8645_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:31px;
}
#u8645_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:12px;
  width:20px;
  height:20px;
}
#u8645_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u8646 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:379px;
  width:100px;
  height:60px;
}
#u8646_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u8647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u8647 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:380px;
  width:100px;
  height:60px;
}
#u8647_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u8648 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:409px;
  width:0px;
  height:0px;
  font-size:13px;
  color:#333333;
}
#u8648_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:92px;
  height:8px;
}
#u8648_seg1 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:-4px;
  width:8px;
  height:9px;
}
#u8648_seg2 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:-3px;
  width:22px;
  height:8px;
}
#u8648_seg3 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:-9px;
  width:20px;
  height:20px;
}
#u8648_text {
  border-width:0px;
  position:absolute;
  left:4px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u8649 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:291px;
  width:0px;
  height:0px;
  font-size:13px;
  color:#333333;
}
#u8649_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-9px;
  width:8px;
  height:9px;
}
#u8649_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-56px;
  width:8px;
  height:55px;
}
#u8649_seg2 {
  border-width:0px;
  position:absolute;
  left:-156px;
  top:-56px;
  width:160px;
  height:8px;
}
#u8649_seg3 {
  border-width:0px;
  position:absolute;
  left:-161px;
  top:-62px;
  width:20px;
  height:20px;
}
#u8649_text {
  border-width:0px;
  position:absolute;
  left:-102px;
  top:-60px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u8650 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:653px;
  width:100px;
  height:60px;
}
#u8650_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u8651 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:626px;
  width:0px;
  height:0px;
  font-size:13px;
  color:#333333;
}
#u8651_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:31px;
}
#u8651_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:12px;
  width:20px;
  height:20px;
}
#u8651_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u8652 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:833px;
  width:100px;
  height:60px;
}
#u8652_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u8653 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:797px;
  width:0px;
  height:0px;
  font-size:13px;
  color:#333333;
}
#u8653_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:27px;
}
#u8653_seg1 {
  border-width:0px;
  position:absolute;
  left:-102px;
  top:19px;
  width:106px;
  height:8px;
}
#u8653_seg2 {
  border-width:0px;
  position:absolute;
  left:-102px;
  top:19px;
  width:8px;
  height:17px;
}
#u8653_seg3 {
  border-width:0px;
  position:absolute;
  left:-108px;
  top:21px;
  width:20px;
  height:20px;
}
#u8653_text {
  border-width:0px;
  position:absolute;
  left:-94px;
  top:15px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u8654 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:291px;
  width:100px;
  height:60px;
}
#u8654_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u8655 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:380px;
  width:0px;
  height:0px;
  font-size:13px;
  color:#333333;
}
#u8655_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-29px;
  width:8px;
  height:33px;
}
#u8655_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-34px;
  width:20px;
  height:20px;
}
#u8655_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u8656 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:737px;
  width:100px;
  height:60px;
}
#u8656_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u8657 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:713px;
  width:0px;
  height:0px;
  font-size:13px;
  color:#333333;
}
#u8657_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:28px;
}
#u8657_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:9px;
  width:20px;
  height:20px;
}
#u8657_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:52px;
}
#u8658 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:737px;
  width:100px;
  height:51px;
}
#u8658_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u8659 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:626px;
  width:0px;
  height:0px;
  font-size:13px;
  color:#333333;
}
#u8659_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:115px;
}
#u8659_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:96px;
  width:20px;
  height:20px;
}
#u8659_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:48px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8660 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:788px;
  width:0px;
  height:0px;
  font-size:13px;
  color:#333333;
}
#u8660_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:36px;
}
#u8660_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:28px;
  width:109px;
  height:8px;
}
#u8660_seg2 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:28px;
  width:8px;
  height:17px;
}
#u8660_seg3 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:30px;
  width:20px;
  height:20px;
}
#u8660_text {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
